@charset "UTF-8";

/* 外部スタイル start */
.wf-nikukyu {
	font-family: "Nikukyu";
}
.wf-nicomoji {
	font-family: "Nico Moji";
}

/* 外部スタイル end */

#wrapper {
	margin: auto;
}

main {
	display: flex;
}

#message-area {
	width: 45%;
}

#canvas-area {
	width: 55%;
}

h1 {
	color: pink;
	font-size: 50px;
	margin-top: -15px;
}

h2 {
	color: brown;
	font-size: 35px;
	margin: -15px 0px 10px 0px;
}

figure {
	display: flex;
	align-items: center;
	margin-left: 0px;
	font-weight: bold;
	font-size: 20px;
	margin: -7px auto;
}

#description {
	color: aqua;
	font-size: 25px;
	margin: 0px 0px 25px 0px;
}

#middle-area {
	margin: 15px auto 20px auto;
}

#bottom-area {
	display: flex;
}

#guide-area {
	margin-left: 80px;
}

#back:hover {
	opacity: 0.8;
	cursor: pointer;
}

#bgm:hover {
	opacity: 0.8;
	cursor: pointer;
}

.tooltip {
	position: relative;
	cursor: pointer;
}

.tooltip:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}

.tooltip-text {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 4%;
	transform: translateX(-50%);
	bottom: 30px;
	display: block;
	padding: 5px;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.3;
	background: white;
	color: black;
	border-radius: 3px;
	transition: 0.3s ease-in;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.tooltip-text :before {
	content: "";
	position: absolute;
	top: -13px;
	left: 50%;
	margin-left: -7px;
	border: 7px solid transparent;
	border-bottom: 7px solid #333;
}

.tooltip-push {
	position: relative;
	cursor: pointer;
}

.tooltip-push:hover .tooltip-push-text {
	opacity: 1;
	visibility: visible;
}

.tooltip-push-text {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 4%;
	transform: translateX(-50%);
	bottom: 60px;
	display: block;
	padding: 5px;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.3;
	background: white;
	color: black;
	border-radius: 3px;
	transition: 0.3s ease-in;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.tooltip-push-text :before {
	content: "";
	position: absolute;
	top: -13px;
	left: 50%;
	margin-left: -7px;
	border: 7px solid transparent;
	border-bottom: 7px solid #333;
}

/* エンディング画面用のデザイン */

#overlay_end {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(99, 99, 99, 0.3);
	display: none;
	z-index: 998;
}

#overlayWindow_end {
	width: 100%;
	height: 100%;
	margin: auto;
	border: 2px solid pink;
	background-color: whitesmoke;
	text-align: center;
	display: none;
	z-index: 999;
}

#end-screen {
	background-color: aqua;
}

#end-area {
	width: 30%;
	display: block;
	margin: 100px auto 0px auto;
}

#end-message {
	color: green;
	font-size: 24px;
	margin-left: 75px;
}

#end-other-area {
	width: 40%;
	margin: 0px auto;
}
